/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Container Styles */
  
  .container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    flex: 1;
  }
  
  .logo h1 {
    margin: 0;
  }
  
  .search-bar {
    flex: 2;
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  .search-bar button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #3e8e41;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  /* Section Styles */
  
  section {
    margin-top: 40px;
  }
  
  section h2 {
    margin-top: 0;
  }
  
  #educationSection ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #educationSection li {
    margin-bottom: 10px;
  }
  
  #educationSection a {
    color: #337ab7;
    text-decoration: none;
  }
  
  #educationSection a:hover {
    color: #23527c;
  }
  
  #categoryResults {
    padding: 20px;
  }
  
  #categoryTitle {
    margin-top: 0;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    clear: both;
  }
  
  footer p {
    margin: 0;
  }
  
  /* Hidden Class */
  
  .hidden {
    display: none;
  }